{% extends "meeting/base.html" %}

{% block page_external %}
    <script src="{{ STATIC_URL }}meeting/js/ajax.js"></script>
    <script src="{{ STATIC_URL }}meeting/js/onParamsChange.js"></script>
{% endblock %}
{% block header %}可预订的会议室{% endblock %}
{% block body %}
    <form class="form-inline" method="get" role="form" action="">
        <div class="row">
            <div class="col-xs-9">
                <input class="form-control" id="input_date" name="date" type="date" />
            </div>
            <div class="col-xs-3">
                <select class="form-control" id="input_time_slot" name="time_slot" />
                    <option value='0'>上午</option>
                    <option value='1'>下午</option>
                </select>
            </div>
        </div>
    <!--available room list -->
        {% if meetingrooms %}
        <div class="highlight meetingrool_list">
            {% for meetingroom in meetingrooms %}
                <div class="row">
                    <!-- <li class="list-group-item"> -->
                    <div id="{{ meetingroom.id }}" class="col-xs-9 mid">
                        <h2>{{ meetingroom.name }}</h2>
                    </div>
                    <div class="col-xs-3">
                        <!-- <a class="book_meeting" onclick="redir('{{mid}}')" href="{% url 'meeting:new_reservation' %}?mid={{meetingroom}}&date={{request.GET.date}}&lote={{request.GET.lote}}" role="button" 
                        class="btn btn-warning btn-book" type="submit">预定</a> -->

                        <a class="book_meeting" onclick="" href="{% url 'meeting:new_reservation' %}?mid={{meetingroom}}&date={{request.GET.date}}" role="button" 
                        class="btn btn-warning btn-book" type="submit">预定</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <h2>没有可预订的会议室！</h2>
        {% endif %}
    </form>
{% endblock %}