{% extends "meeting/base.html" %}

{% block header %}可预订的会议室{% endblock %}
{% block body %}
    <form class="form-inline" method="get" role="form" action="">
        <div class="row">
            <div class="col-xs-9">
                <input class="form-control" id="input_date" name="date" type="date" onchange="onDateTimeChange()" />
            </div>
            <script type="text/javascript">
                var date = new Date();
                // $("#input_date").val(date);
                $("#input_date").val(date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate());
                function onDateTimeChange () {
                    var date = $("#input_date").val();
                    var time_slot = $("#input_time_slot").val();
                    var params = "?ajax&date=" + date + "&time_slot=" + time_slot;
                    $(".meetingrooms_list").load(
                        document.URL + params
                    )}
            </script>
            <div class="col-xs-3">
                <select class="form-control" id="input_time_slot" name="time_slot" onchange="onDateTimeChange()" />
                    <option value='0'>上午</option>
                    <option value='1'>下午</option>
                </select>
            </div>
        </div>    
    </form>
    <!--available room list -->
{% include "meeting/room_list.html" %}
{% endblock %}