{% extends "meeting/base.html" %}
<div >预定
    {% block header %}{{ meetingroom_name }}{% endblock %}
</div>
{% block body %}
<form class="form-horizontal" method="post" role="form" action="">
    {% csrf_token %}
    <div class="date">
        <span class="day">{{ date }}</span><span class="time_slot">{{ time_slot }}</span>
    </div>
    <!-- <div class="form-group">
        <div class="col-sm-10">
            <input class="form-control date" id="disabledInput" name="count" type="number"
            placeholder="{{ time_slot }} {{ date }}" disabled>
        </div>
    </div> -->

    <div class="form-group">
        <label for="inputCount" class="col-sm-2 control-label">会议人数</label>
        <div class="col-sm-10">
            <input class="form-control" id="inputCount" name="count" type="number" />
        </div>
    </div>
    <div class="form-group">
        <label for="inputVip" class="col-sm-2 control-label">出席领导</label>
        <div class="col-sm-10">
            <input class="form-control" id="inputVip" name="vip" type="text" />
        </div>
    </div>
    <div class="form-group">
        <label for="inputDept" class="col-sm-2 control-label">主办单位</label>
        <div class="col-sm-10">
            <input class="form-control" id="inputDept" name="dept" type="text" />
        </div>
    </div>
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">联系人</label>
        <div class="col-sm-10">
            <input class="form-control" id="inputName" name="name" type="text" />
        </div>
    </div>
    <div class="form-group">
        <label for="inputPhone" class="col-sm-2 control-label">联系电话</label>
        <div class="col-sm-10">
            <input class="form-control" id="inputPhone" name="phone" type="text" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="submit_pending" action="{% url 'meeting:new_reservation' %}" value="submit" type="submit" class="btn btn-success">
                提交</button>
            <button name="cancel" value="save as draft" type="submit" class="btn btn-warning">
                取消</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    var meetingroom = $(".page-title").text();
    var addMeetingRoom = '<input type="hidden" name="meetingroom" value='+meetingroom+'>';

    var date = $(".day").text();
    var addDate = '<input type="hidden" name="date" value='+date+'>';
    
    var time_slot = $(".time_slot").text();
    var addTimeSlot = '<input type="hidden" name="time_slot" value='+time_slot+'>';
    $("form").append(addMeetingRoom);
    $("form").append(addDate);
    $("form").append(addTimeSlot);
</script>
{% endblock %}

