{% extends "meeting/base.html" %}
{% block head %}会议详情{% endblock %}
{% block body %}
<ul class="list-group">
    <li class="list-group-item">
        <div class="room">{{ reservation.room.name }}</div>
    </li>
    <li class="list-group-item">
        <div class="date">{{ reservation.book_date|date:'Y-m-d' }}</div>
    </li>
    <li class="list-group-item">
        <div class="time_slot">{{ reservation.book_time }}</div>
    </li>
    <li class="list-group-item">
        <div class="vip">{{ reservation.vip }}</div>
    </li>
    <li class="list-group-item">
        <div class="count">{{ reservation.count }}</div>
    </li>
    <li class="list-group-item">
        <div class="dept">{{ reservation.contact.dept }}</div>
    </li>
    <li class="list-group-item">
        <div class="contact">{{ reservation.contact.name }}</div>
    </li>
    <li class="list-group-item">
        <div class="phone">{{ reservation.contact.phone }}</div>
    </li>
</ul>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button value="submit" type="submit" id="{{reservation.id}}" name="agree" action="{% url 'meeting:review_pending_reservation_list' %}" class="confirm post tool">确认预定</button>
        <a id="{{rsv.id}}" name="delete" href="{% url 'meeting:delete_reservation' reservation.id %}" class="post tool delete">拒绝预定</a>
    </div>
</div>
<script src="{{ STATIC_URL }}meeting/js/ajax.js"></script>
{% endblock %}