{% extends "meeting/base.html" %}
{% block head %}会议详情{% endblock %}
{% block body %}
<ul class="list-group">
    <li class="list-group-item">
        <ul>
            <li>
                {{ time_slot }}
            </li>
            <li>
                {{ date }}
            </li>
        </ul>
    </li>
    <li class="list-group-item">
        {{ vip }}
    </li>
    <li class="list-group-item">
        {{ count }}
    </li>
    <li class="list-group-item">
        {{ dept }}
    </li>
    <li class="list-group-item">
        {{ name }}
    </li>
    <li class="list-group-item">
        {{ phone }}
    </li>
</ul>
<div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="submit_pending" value="submit" type="submit" class="btn btn-success">
                提交</button>
            <button name="cancel" value="save as draft" type="submit" class="btn btn-warning">
                取消</button>
        </div>
    </div>
{% endblock %}