<div class="pannel-group">
    {% if rsvs %}
        {% for rsv in rsvs %}
        <!-- <ul class="opts list-inline"> -->
            <div class="pannel pannel-default">
                <div class="pannel-heading">
                    <ul class="list-inline">
                        <h4 class="pannel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#">
                                <li>
                                    <a href="{% url 'meeting:reservation_detail' rsv.id %}" value="submit" class="btn btn-success">
                                        {{ rsv.room.name }}</a>
                                </li>
                            </a>
                        </h4>
                    </ul>
                </div>
                <div id="" class="pannel-collapse collapse in">
                    <div class="pannel-body">
                        <ul class="list-group">
                            <li>
                                <ul class="list-inline">
                                    <li>{{ rsv.vip }}</li>
                                    <li>{{ rsv.count }}</li>
                                </ul>
                            </li>
                            <li>{{ rsv.contact.name }}</li>
                            <li>{{ rsv.contact.phone }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="meetingroom-name">没有会议！</p>
    {% endif %}
</div>
