<div class="bs-callout bs-callout-info">
    <h4>上午的会议</h4>
    <ul class="list-group">
        {% if rsvs %}
            {% for rsv in rsvs %}
            <!-- <ul class="opts list-inline"> -->
                <li>
                    <div class="pannel pannel-default">
                        <div class="pannel-heading">
                            <ul class="list-inline">
                                <li>{{ rsv.room.name }}</li>
                                {% if show_control %}
                                    <li><button/></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="pannel-body">
                            <ul class="list-group">
                                <li>
                                    <ul class="list-inline">
                                        <li>{{ rsv.vip }}</li>
                                        <li>{{ rsv.count }}</li>
                                    </ul>
                                </li>
                                <li>{{ rsv.contact.name }}</li>
                                <li>{{ rsv.contact.phone }}</li>
                            </ul>
                        </div>
                    </div>
                </li>
              <!-- control group -->
                <li>
                    <a id="{{ meetingroom.id }}" href="javascript:void(0)" class="post tool delete">
                    <span class="glyphicon glyphicon-minus"></span></a>
                </li>

            {% endfor %}
        {% else %}
            <li>
                <div class="meetingroom">
                    <h2 class="meetingroom-name">没有会议！</h2>
                </div>
            <li>
        {% endif %}
        <!-- <li>
            <a id="{{ meetingroom.id }}" href="javascript:void(0)" class="post tool add">
            <span class="glyphicon glyphicon-plus"></span></a>
        </li> -->
    </ul>
</div>
<div class="bs-callout bs-callout-warning">
    <h4>下午的会议</h4>
</div>