
<ul class="list-group">
    {% if meetingrooms %}
        {% for meetingroom in meetingrooms %}
        
            <li class="list-group-item">
                <ul class="list-inline">
                    <li>
                        <h2 class="meetingroom-name">{{ meetingroom.name }}</h2>
                    </li>
                    {% if show_control %}
                        <li>
                            <a href="{% url meeting:new_reservation %}" role="button" class="btn btn-danger"> 预定</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        </ul>
        {% endfor %}
    {% else %}
        <h2 class="meetingroom-name">系统中没有会议室！</h2>
    {% endif %}
</ul>