<div class="meetingrooms_list">
{% if meetingrooms %}
    {% for meetingroom in meetingrooms %}
    <ul class="list-group">
        <!-- <div class="row"> -->
            <li class="list-group-item">
                <!-- <div id="{{ meetingroom.id }}" class="col-xs-9 mid"> -->
                    <h3 id="{{ meetingroom.id }}" class="mid">{{ meetingroom.name }}</h3>
                <!-- </div> -->
                <!-- <div class="col-xs-3"> -->
                    <button class="book_meeting" action="{% url 'meeting:new_reservation' %}"
                    class="btn btn-warning btn-book" type="submit">预定</button>
                <!-- </div> -->
            </li>
        <!-- </div> -->
    </ul>
    {% endfor %}
</div>
<script src="{{ STATIC_URL }}meeting/js/ajax.js"></script>
{% else %}
    <h2>没有可预订的会议室！</h2>
{% endif %}